# Configs
/app/config/parameters.yml

# Symfony
/var/*
/build/
!var/SymfonyRequirements.php

# Cache
!/var/cache
/var/cache/*
!var/cache/.gitkeep

# Logs
!/var/logs
/var/logs/*
!var/logs/.gitkeep

# Sessions
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

# Tests
/phpunit.xml

# Vendors
/vendor/

# Web
/web/bundles/
